<div class="addDiscussionContainer">
    <div class="addDiscussionTitle">What is your question?</div>
    <div class="hiddenDiv" name="userID"></div>
    <form id="addDiscussionForm" action="createDiscussion" method="POST">
        <textarea id="addDiscussionSubjectInput" type="text" name="discussionSubject" placeholder="Subject" form="addDiscussionForm" required></textarea>
        <textarea id="addDiscussionBodyInput" type="text" name="discussionBody" placeholder="Explain in detail..." form="addDiscussionForm" required></textarea>
        <div class="addDiscussionFooter">
            <input type="submit" class="postButton" value="Post to Timeline"></input>
            <select id="discussionTopicDropDown" name="topicID">
                {{#each topics}}
                    <option value={{this.ID}}>{{this.TOPIC}}</option>
                {{/each}}
            </select>
        </div>
    </form>
</div>