<div class="addPostContainer">
    <form id="addPostForm" action="createPost" method="POST">
        <textarea class="addPostField" name="postBody" form="addPostForm" placeholder="Add your reply..."></textarea>
        <input class="commentButton" type="submit" value="Comment"></input>
    </form>
</div>
