<ul class="nav">
    <li class="nav-link">
        <a href="/homePage">
            <img src="/images/logo.png" width="40" height="40" class="d-inline-block align-top" alt=""
                style="border-radius: 5px;">
        </a>
    </li>
    <li class="nav-link search-field">
        <form class="form-inline" action="/search" method="get">
            <input class="form-control" type="text" name="search" placeholder="&#xf002; Search" aria-label="Search"
                style="font-family:Arial, FontAwesome">
        </form>
    </li>
    <li class="nav-link logout-button">
        <form class="" action="/logout" method="post">
            <button class="btn" type="submit">logout</button>
        </form>
    </li>
</ul>