<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="/media/images/logo.png" />
    <script src="/js/script.js" defer></script>
    <script src='/js/addPostAndDiscussion.js'></script>

    {{#if userCSS}}
    <link href='/css/profile.css' rel='stylesheet' />
    {{/if}}

    {{#if sideCSS}}
    <link href='/css/sidebar.css' rel='stylesheet' />
    {{/if}}

    {{#if discCSS}}
    <link href='/css/discussionStyles.css' rel='stylesheet' />
    <link href='/css/postStyles.css' rel='stylesheet' />
    <link href='/css/searchByTopicStyles.css' rel='stylesheet' />
    <link href='/css/addPostStyles.css' rel='stylesheet' />
    <link href='/css/addDiscussionStyles.css' rel='stylesheet' />
    {{/if}}

    {{#if editProfileCSS}}
    <link href='/css/editProfileStyle.css' rel='stylesheet' />
    {{/if}}

    {{#if header}}
    <link href='/css/header.css' rel='stylesheet' />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    {{/if}}
    {{#if msg}}
    <script src="/js/msg.js"></script>
    <link rel="stylesheet" href="/css/msg.css" />
    {{/if}}
</head>

<body>
    {{{ body }}}
</body>

</html>