<body>
    <div class="discussionPartialViewContainer">
    {{> discussionPartial discussions=discussions}}
    {{> postPartial posts = posts}}
    {{> addPostPartial discussion=discussions}}
    </div>
</body>