<div class="container mt-8">
    <div class="row">
        <div class="col-1 mt-4">
            <img class="img-fluid" src="{{profile_img}}">
        </div>
        <div class="col-8 mt-4">
            <div class="form">
                <form method="POST" action="/conversation/start">
                    <div class="form-row">
                        <div class="col-4">
                            <input class="form-control mb-3" type="text" name="subject" placeholder="subject" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            <textarea class="form-control mb-3" name="details" rows="3"
                                placeholder="message details..."></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="receiver_id" value="{{receiver_id}}">
                    <input type="hidden" name="sender_id" value="{{sender_id}}">
                    <button type="submit" class="btn btn-primary col-3">Message</button>
                </form>
            </div>
        </div>
    </div>
</div>