<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>Artist Directory</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <div class="search-box">
      <h3 class="title is-3">Artist Directory</h3>
      <div class="wrapper">
        <input
          class="input"
          id="search-field"
          type="text"
          aria-label="Search"
          placeholder="Search"
        />
        <button
          type="button"
          class="artist-button button is-light"
          onclick="showAddArtist()"
        >
          Add Artist
        </button>
        <button
          type="button"
          class="search-button button is-light"
          onclick="searchArtist()"
        >
          Search
        </button>
      </div>
    </div>
    <div class="add-artist-box" id="add-artist-box">
      <form id="artist-form">
        <input
          class="form-fields input"
          type="text"
          id="name-field"
          maxlength="40"
          placeholder="Artist name"
        />
        <input
          class="form-fields input"
          type="text"
          id="about-field"
          maxlength="40"
          placeholder="About artist"
        />
        <input
          class="form-fields input"
          id="image-field"
          type="text"
          placeholder="Image URL"
        />
      </form>
      <button
        type="button"
        class="add-button button is-light"
        onclick="addArtist()"
      >
        Add
      </button>
    </div>
    <div class="artist-list" id="artist-list"></div>
  </body>
</html>
