<div class="signUp-container">
    <div class="form-container">
        <h1>Give us more personal data</h1>
        <form class="register-form" method="POST" action="/signUp">
            <input class="signUp-name" type="text" name="fname" placeholder="firstname">
            <input class="signUp-name" type="text" name="lname" placeholder="lastname">
            <input class="signUp-input" type="text" name="email" placeholder="email">
            <input class="signUp-input" type="password" name="password" placeholder="password">
            <input class="signUp-input" type="password" name="confirm-pass" placeholder="confirm password">
            <input class="signUp-submit" type="submit" value="signup">
        </form>
    </div>
</div>