<div class="container">
    {{>header}}
    <div class="row">
        <div class="col-4">
            {{>sidebar}}
        </div>
        <div class="home-all-posts">
            <p id="all-posts">
                All posts
            </p>
            <div>{{>discussionPartial}}</div>
        </div>
    </div>
</div>