.addPostContainer {
    width:400px;
}

.addPostField {
    height:40px;
    width: 100%;
    padding:4px;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}


.commentButton {
    margin-top:5px;
    float: right;
    background-color:dodgerblue;
    color:white;
    text-align: center;
    text-decoration: none;
    border: solid 1px transparent;
    width: 30%;
}