/*Universal font application*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: gray;
}

.discussionPartialContainer {
  width: 500px;
}

.firstRow {
  display: inline-block;
  width: 150%;
}

.discussionPartial {
  background-color: white;
  width: 500px;
  height: 120px;
}

.userPortraitContainer {
  width: 100px;
  height: 100px;
  float: left;
  background-color: white;
}

.userPortrait {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border-width: 2px;
  border-style: double;
  border-color: gray;
}

.discussionHeaderContainer {
  float: left;
  width: 100%; /*1-width here = width .userPortraitContainer*/
}

.discussionHeaderTitle {
  width: 80%;
  font-size: 16px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.discussionHeaderTopic {
  border-style: solid;
  padding: 1px;
  width: 20%;
  border-width: 1px; /*Why is border not appearing?*/
  border-color: dodgerblue;
  color: dodgerblue;
  float: right;
  text-align: center;
}

.discussionContainer {
  float: left;
  width: 79%; /*Should be same as .discussionHeaderContainer width*/
}

.discussionBody {
  width: 100%;
  height: 100px;
  padding: 2%;
  overflow: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-height: 1.12;
  max-height: 15;
}

.discussionFooterContainer {
  margin-top: 8px;
}

.discussionDate {
  font-size: 13px;
  float: left;
}

.discussionReplies {
  font-size: 13px;
  float: right;
}

.replyButton {
  float: right;
  font-size: 13px;
  background-color: white;
  color: gray;
  text-align: center;
  text-decoration: none;
  border: solid 1px transparent;
}

/*General Elements*/

.spacer {
  height: 5px;
}
