.postPartial {
    width: 400px;
}

.postUserPortraitContainer {
    float:left;
    background-color:white;
    width: 21%; /*1-width here = width .headerContainer*/
    height: 100%;
}

.postUserPortrait {
    max-width:70%;
    height:auto;
    border-radius:50%;
    border-width:2px;
    border-style:double;
    border-color:gray;
    margin-left: 10%;
}

.postBody {
    float: right;
    margin-top: 10px;
    width: 79%;
    max-height:3;
    max-lines: 3;
    line-height: 1; /*TODO this line + preceding 2, figure how to limit lines of discussion, should it be handled here?*/
    text-overflow: ellipsis;
}