.postPartial {
    width: 400px;
    height: 80px;
}

.postUserPortraitContainer {
    float:left;
    background-color:white;
    width: 21%; /*1-width here = width .headerContainer*/
    height: 100%;
}

.postUserPortrait {
    max-width:70%;
    height:auto;
    border-radius:50%;
    border-width:2px;
    border-style:double;
    border-color:gray;
    margin-left: 10%;
    float: left;
}

.postBody {
    float: right;
    margin-top: 10px;
    width: 79%;
    margin-top:5px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 5; 
    line-height: 1.12;
    max-height: 15;
}