#user-info {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  color: black;
}

#user-info h2 {
  font-size: 25px;
}

#description {
  font-size: 18px;
  font-weight: 200;
}

#img-container {
  text-align: center;
  margin: 10%;
}

#user-img {
  width: 60%;
}

#stats {
  margin-top: 15%;
  margin-left: 0%;
  text-align: left;
  font-size: 16px;
}

#posts {
  color: black;
}

#messages {
  color: black;
}

#likes {
  color: black;
}

#stats table {
  margin: 0 auto;
  border-spacing: 30px 5px;
  border-collapse: separate;
}

#edit-container {
  text-align: center;
}

#edit-container a {
  color: black;
}
