
<div class="postPartial">
    <div class="postUserPortraitContainer">
        <img class="postUserPortrait" src="https://randomuser.me/api/portraits/med/men/1.jpg"></img>
    </div>
    <div class="postBody">
            This is some sample text to test the ability to organize this properly. So what else should I put here, I have no idea. Well maybe I will talk
            about how I hate this class cause I am bad at it, but in the end it is what it is. 
    </div>
</div>

