<div class="homePageBlock">
    <div class="searchByTopicContainer">
        <div class="searchByTopicTitle">
            Search By Topic
        </div>
        <!-- This needs to be done dynamically with data from database -->
        <div class="dropDownContainer">
            <select id="searchTopicDropDown">
                <option value="op1">Test 1</option>
                <option value="op2">Test 2</option>
            </select>
            <!--this may need js to start the call and pass in select option"-->
            <button class="regularButton" onclick="getAllDiscussionsWithSearch">
                Go
            </button>
        </div>
    </div>
    <div class="latestDiscussionsTitle">
        Latest Discussions
    </div>
</div>